<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbro.palo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ArtistActivity.ArtistActivity"></activity>
        <activity android:name=".Activities.ChangePassActivity.ChangePassActivity" />
        <activity android:name=".Activities.MyReviewActivity.MyReviewActivity" />
        <activity android:name=".Activities.SearchActivity.SearchActivity" />
        <activity android:name=".Activities.MovieList.MovieListActivity" />
        <activity android:name=".Activities.ReviewDetailActivity.ReviewDetailActivity" />
        <activity android:name=".Activities.ReviewActivity.ReviewActivity" />
        <activity android:name=".Activities.MovieDetail.MovieDetailActivity" />
        <activity android:name=".Activities.SignUp.SignupActivity" />
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity.LoginActivity" />
        <activity android:name=".Activities.MainActivity.MainActivity" />
        <receiver android:name=".Utils.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>