<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhub.palo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.hhub.palo.Activities.FeedbackActivity.FeedbackActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.hhub.palo.Activities.ChangeProfileActivity.ChangeProfileActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.ArtistActivity.ArtistActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.ChangePassActivity.ChangePassActivity" android:screenOrientation="portrait" android:showForAllUsers="true"/>
        <activity android:name="com.hhub.palo.Activities.MyReviewActivity.MyReviewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.SearchActivity.SearchActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.MovieList.MovieListActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.ReviewDetailActivity.ReviewDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.ReviewActivity.ReviewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.MovieDetail.MovieDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.SignUp.SignupActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.WelcomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hhub.palo.Activities.LoginActivity.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name="com.hhub.palo.Activities.MainActivity.MainActivity" android:screenOrientation="portrait" />

        <receiver android:name="com.hhub.palo.Utils.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9741346671607109~8063676985"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider571619577064740"
            android:exported="true" />
    </application>

</manifest>